.body{
  background: #1f1f1f;
  color: #fff;
}
.topbar {
  background: #282828;
}

.pos {
  padding: 0 0 0 60px;
  float:left;
}

.widthxheight{
  padding: 10px;
}

.hwemail{
  padding: 0 0px 0 10px;
}

.hwpass{
  padding: 5px 250px 0 10px;
}

.hwcheck{
  padding: 10px;
}

.hwrmb{
  padding: 0px 0px 10px 5px;
}

.hwreg a {
  padding: 10px 0px 0 140px;
}


.hwbtn{
  width:100%;
}



.widthall{
  padding: 0 0 0 10px;
}